body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
}

.loader img {
    width: 50%;
    margin-bottom: 20px; /* Espacement en bas de l'image */
    animation: rotateImage 2s linear infinite; /* Ajout de l'animation */
}

.loader i {
    font-size: 30px; /* Taille de l'icône */
    margin-bottom: 20px; /* Espacement en bas de l'icône */
}

.loader p {
    font-size: 24px; /* Taille du texte avec les emojis */
}

@keyframes rotateImage {
    to {
        transform: perspective(500px) rotateY(360deg); /* Effet de perspective et de rotation */
    }
}
