/* Ajouter cette classe à l'élément que vous souhaitez masquer pendant le chargement */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #047500; /* Couleur de fond de l'overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100; /* Assurez-vous que l'overlay est au-dessus de tout le reste */
    opacity: 1; /* Définir l'opacité initiale à 1 (entièrement visible) */
    transition: opacity 0.5s ease-out; /* Ajouter une transition fluide pour l'opacité */
}

/* Animation pour faire disparaître l'overlay */
.loading-overlay.fade-out {
    opacity: 0;
}
